<div class="{{content_prefix}}panel  {{content_mod}}"  id="{{content_id}}">
	<div class="{{content_prefix}}container container  is--default-page  {{content_mod}}">
		{% include "../../common/page-header/tpl.twig" with {prefix:"page-header__", mod:heading_mod, group:heading_group, level:heading_level, heading:heading } %}
		<div class="{{content_prefix}}grid  grid__row  {{content_mod}}">
			<div class="grid__cols"> 
				<img src="{{path.img}}/temp/iam.jpg" class="img-responsive" alt="Независимый финансовый консультант Леонид Полотовский">
			</div>
			<div class="grid__cols">
				<div class="{{content_prefix}}text  text__block  {{content_mod}}">
					<h3>Независимый финансовый консультант Леонид Полотовский.</h3>
					<p><strong>Наша основная задача</strong>&nbsp;— представить Вам проверенные знания о&nbsp;финансах, способах управления бюджетом, научить пользоваться инвестиционными инструментами, чтобы приумножить Ваш капитал и&nbsp;повысить Ваш уровень жизни. </p>
					<p><strong>Наша профессиональная миссия</strong>&nbsp;— помочь людям осознать важность инвестиций, повысить их&nbsp;финансовую грамотность, научить правильному финансовому планированию. </p>
					<p><strong>Наши принципы работы</strong>&nbsp;— интересы клиента&nbsp;— наш главный приоритет. Мы&nbsp;не&nbsp;навязываем вам конкретные финансовые продукты и&nbsp;инструменты. Наш финансовый результат&nbsp;— это отражение вашего благосостояния.</p>
					<h3>Почему нашим советам стоит доверять? </h3>
					<p>Леонид Полотовский «Вы&nbsp;принимаете решение&nbsp;— я&nbsp;принимаю вызов» </p>
					<ul> 
						<li>Практикующий финансовый консультант</li>
						<li>Работаем на&nbsp;рынке ценных бумаг с&nbsp;2014 года</li>
						<li>Личный опыт в&nbsp;инвестировании. Опробировали на&nbsp;себе множество финансовых инструментов и&nbsp;стратегий: акции, облигации, фьючерсы, опционы и&nbsp;многое другое.</li>
						<li>Десятки бизнесов с&nbsp;нашей помощью увеличили свой капитал в&nbsp;2&nbsp;раза и&nbsp;более</li>
						<li>Более 5&nbsp;лет опыта финансового планирования, разработки инвестиционных портфелей и&nbsp;инвестирования</li>
						<li>Наш профессионализм подтвержден квалификационными сертификатами ФСФР</li>
					</ul>
					<h5>Мы&nbsp;лучше других знаем, как сделать так, чтобы Ваши деньги работали на&nbsp;вас! </h5>
				</div>
			</div>
		</div>
	</div>
</div>