<header class="{{content_prefix}}block" id="{{content_id}}" style="background-image: url({{bg}})"> 
	<div class="{{content_prefix}}container container">
		<div class="{{content_prefix}}panel">
			<div class="{{content_prefix}}inner">
				<h1 class="{{content_prefix}}heading">{{heading}}</h1>
				<div class="{{content_prefix}}heading-small">{{heading_small}}</div>
			</div>
		</div>
	</div>
</header>